<h1>Tú Carrito de Compras</h1>

{{#if cart.length}}
  <ul>
    {{#each cart}}
      <li>
        {{this.name}} - ${{this.price}} - Cantidad: {{this.quantity}}
        <form action="/cart/remove/{{this._id}}" method="POST">
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {{/each}}
  </ul>
  <form action="/cart/empty" method="POST">
    <button type="submit">Vaciar Carrito</button>
  </form>
{{else}}
  <p>Tu carrito está vacío.</p>
{{/if}}

<a href="/dashboard">Continuar Comprando</a>
